/* Main Navigation Holder - Contains main grid template & "onScroll" properties to trigger */
.Nav-Holder {
  position: fixed;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr;
  width: 90%;
  margin: 1.2rem max(1rem, 5vw);
  padding: 0.8rem 1.4rem;
  transition: all 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.Nav-Holder.onScroll {
  background: var(--bg-blur-whites);
  backdrop-filter: blur(16px);
}

/* Contains the Navigation List template - Specify the number of links you will be needing in the " repeat(<No. of Links>,1fr) " in
the "grid-template-columns */
.NavMenuList {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.2fr;
  column-gap: 0.2rem;
}

.Logo {
  text-decoration: none;
  color: var(--blacks);
  font-size: 1.25rem;
  align-self: center;
}

.MenuToggle {
  align-self: center;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
  padding: 0.8rem;
  grid-column: -1/-2;
  display: none;
}

/* "Menu Toggle" hamburger icon with animations */
.Rect1 {
  height: 0.3rem;
  width: 2rem;
  background: var(--blacks);
  transform-origin: left;
  transition: ease-in-out 0.5s;
}
.Rect2 {
  height: 0.3rem;
  width: 2rem;
  transform-origin: center;
  background: var(--blacks);
  transition: ease-in-out 0.5s;
}
.Rect3 {
  transition: ease-in-out 0.5s;
  height: 0.3rem;
  width: 1.4rem;
  background: var(--blacks);
  align-self: flex-end;
}
.Rect1.T-active {
  transform: translateX(1rem);
  background: none;
}
.Rect2.T-active {
  scale: 0.8 1;
}
.Rect3.T-active {
  transform: translateX(-1rem);
  background: none;
}

/* Customization for each Navigation Link */
.Nav-Menu {
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  align-self: center;
  justify-self: end;
  text-decoration: none;
  color: var(--blacks);
  transition: all ease 0.2s;
}
.Nav-Menu-active {
  font-weight: 800;
}

/* The Uderline entity on hover */
.uline {
  position: relative;
  padding-inline: 1rem;
  padding-block: 0.4rem;
}
.uline::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--blacks);
  width: 40%;
  top: 36px;
  left: 1rem;
  scale: 0 1;
  transition: scale 250ms;
}
.uline:hover::after {
  scale: 1 1;
}

/* Styling of Navigation Button */
.Nav-Button {
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  align-self: center;
  justify-self: end;
  text-decoration: none;
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  transition: all ease 0.3s;
  color: var(--whites);
  background-color: var(--blacks);
  text-wrap: nowrap;
  display: block;
}
.Nav-Button:hover {
  background: none;
  box-shadow: 0 0 0 1.8px var(--blacks);
  color: var(--blacks);
}
.Nav-Button-active {
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  align-self: center;
  justify-self: end;
  text-decoration: none;
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  background: none;
  box-shadow: 0 0 0 2.2px var(--blacks);
  color: var(--blacks);
  text-wrap: nowrap;
}

/* Mobile View Properties */
@media (max-width: 760px) {
  /* Mobile View Menu Card properties */
  .NavMenuList {
    grid-template-columns: 12rem;
    position: absolute;
    background: var(--whites);
    top: 4.7rem;
    row-gap: 3rem;
    padding-block: 26vh;
    transition: 0.5s all ease-in-out;
    padding-inline: 4rem;
  }
  .NavMenuList.NMinactive {
    right: -25rem;
  }
  .NavMenuList.NMactive {
    right: -1.4rem;
  }

  .MenuToggle {
    display: flex;
  }

  /* For the underline entity to start from right */
  .uline::after {
    right: 1rem;
    left: auto;
  }
}
