/* Initial Space for Navbar in a page to avoid overlapping & hidden content */
.NavSpace {
  height: 7rem;
}

.layout{
  background-color: var(--whites);
}

/* Common Page Layout for the project */
.page-content {
  margin-inline: max(1.2rem, 6vw);
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 600;
  color: var(--whites);
}
